Repository sge-network/sge, pull requests merged in 2023-10, with the labels that each got.

#260 Reorder Fix
  proto/sge/bet/bet_odds.proto
  proto/sge/bet/ticket.proto
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/wager.go
  x/bet/keeper/wager_test.go
  x/bet/types/bet_odds.pb.go
  x/bet/types/errors.go
  x/bet/types/expected_keepers.go
  x/bet/types/ticket.go
  x/bet/types/ticket.pb.go
  x/market/types/market.go
  x/orderbook/keeper/bet_wager.go
  x/orderbook/keeper/bet_wager_test.go
  x/orderbook/keeper/exposure_participation.go
  x/orderbook/keeper/orderbook_settle_test.go
  x/orderbook/keeper/participation.go
  x/orderbook/types/errors.go
  x/orderbook/types/participation.go
Labels: C:x/bet, C:x/market, C:x/orderbook

#262 Fix / Legacy Amino codec registration
  x/bet/module.go
  x/bet/types/codec.go
  x/house/types/codec.go
  x/market/module.go
  x/market/types/codec.go
  x/mint/module.go
  x/mint/types/codec.go
  x/orderbook/module.go
  x/orderbook/types/codec.go
  x/ovm/module.go
  x/ovm/types/codec.go
Labels: C:x/bet, C:app-wiring, C:x/mint, C:x/market, C:x/ovm, C:x/orderbook

#263 Fix for reorder in case of no liquidity left when reorder is possible
  x/orderbook/keeper/bet_wager.go
  x/orderbook/keeper/bet_wager_test.go
  x/orderbook/types/participation.go
Labels: C:x/orderbook

#266 Fix / Rounding of the truncated values
  x/bet/types/payout.go
  x/orderbook/keeper/bet_wager.go
  x/orderbook/keeper/bet_wager_test.go
Labels: C:x/bet, C:x/orderbook

#269 Fix / OrderBook status and events
  docs/_sidebar.md
  docs/specs/Bet/_sidebar.md
  docs/specs/House/_sidebar.md
  docs/specs/Market/_sidebar.md
  docs/specs/Mint/_sidebar.md
  docs/specs/OVM/_sidebar.md
  docs/specs/OrderBook/_sidebar.md
  docs/specs/_sidebar.md
  proto/sge/orderbook/orderbookevent.proto
  scripts/protocgen.sh
  x/bet/types/expected_keepers.go
  x/house/keeper/deposit.go
  x/house/keeper/withdrawal.go
  x/house/types/expected_keepers.go
  x/orderbook/keeper/bet_wager.go
  x/orderbook/keeper/exposure_odds.go
  x/orderbook/keeper/orderbook_settle.go
  x/orderbook/types/events.go
  x/orderbook/types/order_book_event.go
  x/orderbook/types/orderbookevent.pb.go
Labels: C:x/bet, C:docs, T:build, C:x/orderbook
