Repository sge-network/sge, pull requests merged in 2023-02, with the labels that each got.

#65 Fix/ Sport-Event ticket payloads validation
  build_scripts/Dockerfile.old
  proto/sge/bet/bet.proto
  proto/sge/sportevent/params.proto
  proto/sge/sportevent/sport_event.proto
  proto/sge/sportevent/ticket.proto
  x/bet/client/cli/query_bet_test.go
  x/bet/keeper/bet_test.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/place_bet.go
  x/bet/keeper/place_bet_test.go
  x/bet/keeper/settle_bet_test.go
  x/bet/types/bet.pb.go
  x/bet/types/expected_keepers.go
  x/sportevent/keeper/export_test.go
  x/sportevent/keeper/msg_server_add_event.go
  x/sportevent/keeper/msg_server_resolve_event.go
  x/sportevent/keeper/msg_server_update_event.go
  x/sportevent/keeper/params.go
  x/sportevent/keeper/sport_event_validation_test.go
  x/sportevent/types/bet_constraints.go
  x/sportevent/types/params.go
  x/sportevent/types/params.pb.go
  x/sportevent/types/sport_event.go
  x/sportevent/types/sport_event.pb.go
  x/sportevent/types/ticket.go
  x/sportevent/types/ticket.pb.go
  x/strategicreserve/keeper/manage_funds.go
  x/strategicreserve/keeper/manage_funds_test.go
Labels: C:x/bet, C:x/sportevent, C:x/strategicreserve, C:CLI

#67 Fix/ Unsettled sport-event Support for Canceled and Aborted
  build_scripts/Dockerfile.old
  build_scripts/assets/deb/control.j2
  build_scripts/assets/deb/saaged.service
  build_scripts/build_deb.sh
  x/bet/keeper/settle_bet_test.go
  x/sportevent/keeper/sport_event.go
  x/sportevent/keeper/stats.go
Labels: C:x/bet, C:x/sportevent

#69 Fix/ Mandatory KYC for bet placement
  proto/sge/bet/kyc.proto
  proto/sge/bet/ticket.proto
  testutil/simapp/simapp.go
  x/bet/keeper/keeper_test.go
  x/bet/keeper/kyc.go
  x/bet/keeper/kyc_validation.go
  x/bet/keeper/msg_server_bet.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/settle_bet.go
  x/bet/keeper/settle_bet_test.go
  x/bet/types/errors.go
  x/bet/types/kyc.pb.go
  x/bet/types/ticket.pb.go
  x/bet/types/validation.go
  x/bet/types/validation_test.go
  x/mint/keeper/minter_test.go
  x/strategicreserve/keeper/manage_funds_test.go
Labels: C:x/bet, C:x/strategicreserve, C:x/mint

#73 Docs/ Spec docs for Order Book and House
  docs/specs/Bet/01_Overview.md
  docs/specs/Bet/02_Concepts.md
  docs/specs/Bet/04_State.md
  docs/specs/Bet/05_State_Transitions.md
  docs/specs/Bet/06_Messages.md
  docs/specs/House/02_Concepts.md
  docs/specs/House/03_State.md
  docs/specs/House/04_State_transitions.md
  docs/specs/House/05_Message.md
  docs/specs/OrderBook/02_Concepts.md
  docs/specs/OrderBook/03_State.md
  docs/specs/OrderBook/04_State_transitions.md
  docs/specs/OrderBook/05_Message.md
  docs/specs/OrderBook/06_Events.md
  docs/specs/SportEvent/02_State.md
  docs/specs/StrategicReserve/01_Overview.md
Labels: C:docs

#75 Fix/ Sport Event Active and Inactive Status
  proto/sge/bet/bet.proto
  proto/sge/bet/bet_odds.proto
  proto/sge/orderbook/participation.proto
  proto/sge/sportevent/sport_event.proto
  proto/sge/sportevent/ticket.proto
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/place_bet.go
  x/bet/keeper/place_bet_test.go
  x/bet/keeper/settle_bet.go
  x/bet/keeper/settle_bet_test.go
  x/bet/types/bet.pb.go
  x/bet/types/errors.go
  x/house/keeper/deposit.go
  x/house/types/events.go
  x/orderbook/types/participation.pb.go
  x/sportevent/keeper/msg_server_add_event.go
  x/sportevent/keeper/msg_server_resolve_event.go
  x/sportevent/keeper/msg_server_update_event.go
  x/sportevent/keeper/sport_event.go
  x/sportevent/keeper/sport_event_server_test.go
  x/sportevent/keeper/sport_event_test.go
  x/sportevent/keeper/sport_event_validation_test.go
  x/sportevent/types/errors.go
  x/sportevent/types/events.go
  x/sportevent/types/sport_event.go
  x/sportevent/types/sport_event.pb.go
  x/sportevent/types/ticket.go
  x/sportevent/types/ticket.pb.go
Labels: C:x/bet, C:x/sportevent

#77 Fix/ Deposit and withdraw Query prefixes
  testutil/simapp/test_helpers.go
  x/bet/client/cli/query_bet_test.go
  x/bet/client/cli/tx_bet.go
  x/bet/client/cli/tx_bet_test.go
  x/bet/keeper/bet_test.go
  x/bet/keeper/grpc_query_bet_test.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/simulation/bet.go
  x/dvm/client/cli/query_pub_keys.go
  x/dvm/client/cli/query_pub_keys_test.go
  x/dvm/client/cli/tx_mutation.go
  x/dvm/client/cli/tx_mutation_test.go
  x/house/client/cli/tx_withdraw.go
  x/house/keeper/grpc_query_deposit.go
  x/house/keeper/grpc_query_withdrawal.go
  x/orderbook/client/cli/query_book.go
  x/orderbook/client/cli/query_participant.go
  x/sportevent/client/cli/query_sport_event.go
  x/sportevent/client/cli/query_sport_event_test.go
  x/sportevent/client/cli/tx_resolve_sport_event.go
  x/sportevent/client/cli/tx_sport_event.go
  x/sportevent/keeper/grpc_query_sport_event_test.go
  x/sportevent/keeper/sport_event_test.go
Labels: C:x/bet, C:x/sportevent, C:CLI, C:x/dvm

#76 Fix/ Remove Unnecessary props from bet type
  proto/sge/bet/bet.proto
  proto/sge/sportevent/sport_event.proto
  x/bet/keeper/place_bet.go
  x/bet/keeper/settle_bet_test.go
  x/bet/types/bet.pb.go
  x/bet/types/messages_bet.go
  x/bet/types/messages_bet_test.go
  x/sportevent/types/sport_event.pb.go
Labels: C:x/bet, C:x/sportevent

#82 Feature / Winner Odds UIDs input validation in sport-event resolution
  .gitignore
  x/sportevent/keeper/sport_event_server_test.go
  x/sportevent/types/consts.go
  x/sportevent/types/ticket.go
Labels: C:x/sportevent

#85 create makefile
  .github/workflows/makefile.yml
Labels: T:CI

#86 sgejs osmonauts module already added
  .github/workflows/makefile.yml
Labels: T:CI

#88 Fix/ Gosec errors
  app/app.go
  app/export.go
  go.mod
  go.sum
  proto/sge/orderbook/participation.proto
  utils/int64.go
  x/bet/keeper/place_bet.go
  x/bet/keeper/place_bet_test.go
  x/bet/module_simulation.go
  x/bet/simulation/bet.go
  x/bet/types/params.go
  x/dvm/module_simulation.go
  x/dvm/simulation/submit_pubkeys_change_proposal_request.go
  x/dvm/types/params.go
  x/house/types/deposit.go
  x/house/types/params.go
  x/house/types/withdrawal.go
  x/mint/abci.go
  x/mint/module_simulation.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/params.go
  x/mint/simulation/params_test.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/phase.go
  x/orderbook/keeper/bet_place.go
  x/orderbook/keeper/orderbook_settle.go
  x/orderbook/types/exposure.go
  x/orderbook/types/orderbook.go
  x/orderbook/types/params.go
  x/orderbook/types/participation.go
  x/sportevent/module_simulation.go
  x/sportevent/simulation/add_event.go
  x/sportevent/simulation/resolve_event.go
  x/sportevent/simulation/update_event.go
  x/sportevent/types/params.go
  x/sportevent/types/ticket.go
  x/strategicreserve/module_simulation.go
  x/strategicreserve/types/params.go
Labels: C:x/bet, C:x/sportevent, C:x/strategicreserve, C:app-wiring, C:x/dvm, C:x/mint
