Repository sge-network/sge, pull requests merged in 2023-08, with the labels that each got.

#234 Fix / Change min count of OVM keys to 4
  x/ovm/types/consts.go
Labels: C:x/ovm

#233 Subaccount module part 6
  app/keepers/keepers.go
  proto/sge/subaccount/genesis.proto
  proto/sge/subaccount/query.proto
  proto/sge/subaccount/tx.proto
  x/orderbook/keeper/hooks.go
  x/orderbook/keeper/orderbook_settle.go
  x/subaccount/client/cli/query.go
  x/subaccount/client/cli/tx.go
  x/subaccount/genesis.go
  x/subaccount/genesis_test.go
  x/subaccount/handler.go
  x/subaccount/keeper/balance.go
  x/subaccount/keeper/hooks.go
  x/subaccount/keeper/keeper.go
  x/subaccount/keeper/keeper_test.go
  x/subaccount/keeper/msg_server.go
  x/subaccount/keeper/msg_server_bet_test.go
  x/subaccount/keeper/msg_server_create_subaccount.go
  x/subaccount/keeper/msg_server_create_subaccount_test.go
  x/subaccount/keeper/msg_server_house_test.go
  x/subaccount/keeper/msg_server_test.go
  x/subaccount/keeper/msg_server_topup.go
  x/subaccount/keeper/msg_server_topup_test.go
  x/subaccount/keeper/msg_server_withdraw.go
  x/subaccount/keeper/msg_server_withdraw_test.go
  x/subaccount/keeper/query_server.go
  x/subaccount/keeper/query_server_test.go
  x/subaccount/keeper/subaccount.go
  x/subaccount/keeper/subaccount_test.go
  x/subaccount/module.go
  x/subaccount/types/expected_keepers.go
  x/subaccount/types/genesis.pb.go
  x/subaccount/types/msg_test.go
  x/subaccount/types/query.pb.go
  x/subaccount/types/query.pb.gw.go
  x/subaccount/types/subaccount.go
  x/subaccount/types/tx.pb.go
Labels: C:CLI, C:app-wiring, C:x/orderbook

#237 chore: sync main for feature/subaccount branch
  .github/CODEOWNERS
  README.md
  go.mod
  go.sum
  proto/sge/orderbook/orderbookevent.proto
  x/bet/types/messages_bet.go
  x/ovm/types/consts.go
  x/subaccount/keeper/hooks.go
Labels: C:x/bet, C:docs, C:x/ovm

#240 Feature / Upgrade handler of v0.46.14
  app/app.go
  app/upgrades/v1/consts.go
  app/upgrades/v1/upgrades.go
  proto/buf.yaml
Labels: C:app-wiring

#247 Update makefile.yml
  .github/workflows/makefile.yml
Labels: T:CI
