Repository sge-network/sge, pull requests merged in 2023-07, with the labels that each got.

#209 fix: remove unused receiver
  x/bet/keeper/export_test.go
  x/bet/keeper/keeper.go
  x/bet/module.go
  x/bet/module_simulation.go
  x/bet/types/funder.go
  x/bet/types/messages_bet.go
  x/bet/types/odds_type.go
  x/house/module.go
  x/house/module_simulation.go
  x/house/types/deposit_authorizaton.go
  x/house/types/funder.go
  x/house/types/message_deposit.go
  x/house/types/message_withdraw.go
  x/house/types/withdraw_authorizaton.go
  x/market/keeper/keeper.go
  x/market/module.go
  x/market/module_simulation.go
  x/market/types/message_market.go
  x/market/types/message_market_resolve.go
  x/market/types/params.go
  x/mint/keeper/keeper.go
  x/mint/module.go
  x/mint/module_simulation.go
  x/mint/types/minter.go
  x/orderbook/keeper/keeper.go
  x/orderbook/module.go
  x/orderbook/module_simulation.go
  x/orderbook/types/funder.go
  x/ovm/keeper/keeper.go
  x/ovm/module.go
  x/ovm/module_simulation.go
  x/ovm/types/message_pubkeys_proposal.go
  x/ovm/types/message_pubkeys_vote.go
  x/ovm/types/params.go
Labels: C:x/bet, C:app-wiring, C:x/mint, C:x/market, C:x/ovm, C:x/orderbook

#211 Refactor/ Bet Constraints Fee
  docs/specs/Bet/04_State.md
  docs/specs/Market/02_State.md
  docs/specs/Market/03_Messages.md
  docs/specs/Market/04_State_Transitions.md
  proto/sge/bet/bet.proto
  proto/sge/bet/params.proto
  x/bet/client/cli/query_bet_test.go
  x/bet/keeper/bet_place.go
  x/bet/keeper/bet_settle.go
  x/bet/keeper/bet_settle_test.go
  x/bet/keeper/bet_test.go
  x/bet/keeper/export_test.go
  x/bet/keeper/params.go
  x/bet/simulation/genesis.go
  x/bet/simulation/params.go
  x/bet/simulation/params_test.go
  x/bet/types/bet.go
  x/bet/types/bet.pb.go
  x/bet/types/bet_test.go
  x/bet/types/errors.go
  x/bet/types/odds_type.go
  x/bet/types/params.go
  x/bet/types/params.pb.go
  x/bet/types/payout_test.go
  x/house/types/query.pb.go
  x/market/simulation/genesis.go
  x/market/simulation/params.go
  x/market/simulation/params_test.go
  x/market/types/market.go
  x/orderbook/keeper/bet_place_test.go
Labels: C:x/bet, C:CLI, C:docs, C:x/market, C:x/orderbook

#208 Subaccount module part2
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  proto/sge/subaccount/genesis.proto
  proto/sge/subaccount/params.proto
  proto/sge/subaccount/subaccount.proto
  proto/sge/subaccount/tx.proto
  testutil/sample/sample.go
  x/subaccount/genesis.go
  x/subaccount/handler.go
  x/subaccount/keeper/create_subaccount.go
  x/subaccount/keeper/create_subaccount_test.go
  x/subaccount/keeper/keeper.go
  x/subaccount/keeper/keeper_test.go
  x/subaccount/keeper/msg_server.go
  x/subaccount/keeper/msg_server_test.go
  x/subaccount/keeper/params.go
  x/subaccount/keeper/params_test.go
  x/subaccount/keeper/subaccount.go
  x/subaccount/keeper/subaccount_test.go
  x/subaccount/module.go
  x/subaccount/types/address.go
  x/subaccount/types/codec.go
  x/subaccount/types/errors.go
  x/subaccount/types/genesis.go
  x/subaccount/types/genesis.pb.go
  x/subaccount/types/keys.go
  x/subaccount/types/msg.go
  x/subaccount/types/msg_test.go
  x/subaccount/types/params.go
  x/subaccount/types/params.pb.go
  x/subaccount/types/query.pb.go
  x/subaccount/types/subaccount.go
  x/subaccount/types/subaccount.pb.go
  x/subaccount/types/subaccount_test.go
  x/subaccount/types/tx.pb.go
Labels: C:app-wiring

#215 (patch) Fix injection vulnerability
  .github/workflows/makefile.yml
Labels: T:CI

#220 Fix / Remove unnecessary market payload creator
  proto/sge/market/ticket.proto
  x/market/types/ticket.pb.go
  x/market/types/ticket_test.go
Labels: C:x/market

#212 Fix / Public Keys count between 3 and 5
  config.yml
  x/ovm/keeper/msg_server_pubkeys_proposal_test.go
  x/ovm/keeper/proposal_test.go
  x/ovm/types/const.go
  x/ovm/types/consts.go
  x/ovm/types/genesis_test.go
  x/ovm/types/key_vault.go
  x/ovm/types/proposal.go
Labels: C:x/ovm

#226 Docs / Change genesis numbers in the Readme
  README.md
Labels: C:docs
