Repository sge-network/sge, pull requests merged in 2023-06, with the labels that each got.

#159 Test/ SR module tests
  x/strategicreserve/keeper/exposure_odds_test.go
  x/strategicreserve/keeper/exposure_participation_test.go
  x/strategicreserve/keeper/orderbook_test.go
  x/strategicreserve/keeper/participation_bet_pair_test.go
  x/strategicreserve/keeper/participation_test.go
Labels: C:x/strategicreserve

#161 Test/ SR KVStore
  x/strategicreserve/keeper/exposure_odds_test.go
  x/strategicreserve/keeper/exposure_participation_test.go
  x/strategicreserve/keeper/orderbook_test.go
  x/strategicreserve/keeper/participation_bet_pair_test.go
  x/strategicreserve/keeper/participation_test.go
Labels: C:x/strategicreserve

#166 Refactor/ rename SR to Order Book interface vars
  config.yml
  x/bet/keeper/settle_bet.go
  x/bet/module.go
  x/market/keeper/keeper.go
  x/orderbook/simulation/decoder.go
  x/orderbook/simulation/errors.go
Labels: C:x/bet, C:app-wiring, C:x/market, C:x/orderbook

#172 Test/ Order Book keeper Test coverage
  proto/sge/orderbook/query.proto
  proto/sge/orderbook/ticket.proto
  x/orderbook/client/cli/query.go
  x/orderbook/client/cli/query_bet.go
  x/orderbook/client/cli/query_exposure_odds.go
  x/orderbook/client/cli/query_exposure_participation.go
  x/orderbook/client/cli/query_orderbook.go
  x/orderbook/client/cli/query_participation.go
  x/orderbook/keeper/export_test.go
  x/orderbook/keeper/exposure_odds.go
  x/orderbook/keeper/exposure_odds_test.go
  x/orderbook/keeper/exposure_participation_test.go
  x/orderbook/keeper/fund_test.go
  x/orderbook/keeper/grpc_orderbook.go
  x/orderbook/keeper/grpc_query_exposure_odds.go
  x/orderbook/keeper/grpc_query_exposure_odds_test.go
  x/orderbook/keeper/grpc_query_exposure_participation.go
  x/orderbook/keeper/grpc_query_exposure_participation_test.go
  x/orderbook/keeper/grpc_query_orderbook.go
  x/orderbook/keeper/grpc_query_orderbook_test.go
  x/orderbook/keeper/grpc_query_params_test.go
  x/orderbook/keeper/grpc_query_participation.go
  x/orderbook/keeper/grpc_query_participation_bet.go
  x/orderbook/keeper/grpc_query_participation_bet_test.go
  x/orderbook/keeper/grpc_query_participation_test.go
  x/orderbook/keeper/keeper_test.go
  x/orderbook/keeper/orderbook.go
  x/orderbook/keeper/orderbook_test.go
  x/orderbook/keeper/params_test.go
  x/orderbook/keeper/participation.go
  x/orderbook/keeper/participation_bet.go
  x/orderbook/keeper/participation_bet_test.go
  x/orderbook/keeper/participation_test.go
  x/orderbook/keeper/stats_test.go
  x/orderbook/types/orderbook.go
  x/orderbook/types/participation_bet.go
  x/orderbook/types/query.pb.go
  x/orderbook/types/query.pb.gw.go
  x/orderbook/types/ticket.go
  x/orderbook/types/ticket.pb.go
Labels: C:CLI, C:x/orderbook

#175 Refactor/ House Deposit For Extended Authorization Check
  proto/sge/house/deposit.proto
  proto/sge/orderbook/participation.proto
  x/house/keeper/deposit.go
  x/house/keeper/deposit_test.go
  x/house/keeper/msg_server_withdraw.go
  x/house/keeper/msg_server_withdraw_test.go
  x/house/keeper/withdrawal.go
  x/house/types/deposit.go
  x/house/types/deposit.pb.go
  x/house/types/errors.go
  x/house/types/expected_keepers.go
  x/house/types/genesis_test.go
  x/orderbook/keeper/bet_place_test.go
  x/orderbook/keeper/orderbook_settle.go
  x/orderbook/keeper/orderbook_settle_test.go
  x/orderbook/keeper/participation.go
  x/orderbook/keeper/participation_test.go
  x/orderbook/types/errors.go
  x/orderbook/types/participation.go
  x/orderbook/types/participation.pb.go
Labels: C:x/orderbook

#177 Create codeql.yml
  .github/workflows/codeql.yml
Labels: T:CI

#183 Update lint.yml
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: T:CI

#184 Feat/ Withdrawal by ID query and event
  docs/specs/House/06_Events.md
  proto/sge/house/query.proto
  x/house/client/cli/query.go
  x/house/client/cli/query_withdrawal.go
  x/house/keeper/grpc_query_withdrawal.go
  x/house/keeper/grpc_query_withdrawal_test.go
  x/house/keeper/msg_server_withdraw.go
  x/house/keeper/withdrawal.go
  x/house/types/events.go
  x/house/types/message_withdraw.go
  x/house/types/query.pb.go
  x/house/types/query.pb.gw.go
Labels: C:CLI, C:docs

#185 Test/ House CLI
  x/house/client/cli/query_deposit_test.go
  x/house/client/cli/query_params_test.go
  x/house/client/cli/query_test.go
  x/house/client/cli/query_withdrawal_test.go
  x/house/client/cli/tx_deposit_test.go
  x/house/client/cli/tx_test.go
  x/house/client/cli/tx_withdraw_test.go
Labels: C:CLI

#188 Test/ Order Book CLI
  x/orderbook/client/cli/query_bet_test.go
  x/orderbook/client/cli/query_exposure_odds_test.go
  x/orderbook/client/cli/query_exposure_participation.go
  x/orderbook/client/cli/query_exposure_participation_test.go
  x/orderbook/client/cli/query_orderbook_test.go
  x/orderbook/client/cli/query_params_test.go
  x/orderbook/client/cli/query_participation_test.go
  x/orderbook/client/cli/query_test.go
Labels: C:CLI, C:x/orderbook

#191 Test/ All modules types coverage
  testutil/simapp/test_helpers.go
  x/house/types/message_deposit_test.go
  x/house/types/message_withdraw_test.go
  x/house/types/ticket_test.go
  x/market/keeper/msg_server_market_test.go
  x/market/types/bet_constraints_test.go
  x/market/types/export_test.go
  x/market/types/message_market_resolve_test.go
  x/market/types/message_market_test.go
  x/market/types/ticket_test.go
Labels: C:x/market

#192 Refactor/ App Keepers pointers and Bet
  app/keepers/keepers.go
  x/bet/genesis_test.go
  x/bet/keeper/bet_place.go
  x/bet/keeper/bet_place_test.go
  x/bet/keeper/bet_settle.go
  x/bet/keeper/bet_settle_test.go
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet.go
  x/bet/types/place_bet_fields.go
  x/bet/types/place_bet_fields_test.go
  x/bet/types/ticket.go
  x/bet/types/ticket_test.go
  x/bet/types/validation.go
  x/house/keeper/keeper_test.go
  x/market/genesis_test.go
  x/market/keeper/keeper_test.go
  x/orderbook/keeper/keeper_test.go
  x/ovm/genesis_test.go
  x/ovm/keeper/keeper_test.go
Labels: C:x/bet, C:app-wiring, C:x/market, C:x/ovm, C:x/orderbook

#190 Docs/ House authorization grant validation
  docs/specs/House/02_Concepts.md
  docs/specs/House/04_State_Transitions.md
Labels: C:docs

#197 Update labeler.yml
  .github/labeler.yml
Labels: T:CI

#193 update makefile protogen
  Makefile
  go.mod
  go.sum
  scripts/protocgen.sh
  types/kyc.pb.go
  x/bet/types/bet.pb.go
  x/bet/types/bet_odds.pb.go
  x/bet/types/genesis.pb.go
  x/bet/types/odds_type.pb.go
  x/bet/types/params.pb.go
  x/bet/types/place_bet_fields.pb.go
  x/bet/types/query.pb.go
  x/bet/types/query.pb.gw.go
  x/bet/types/stats.pb.go
  x/bet/types/ticket.pb.go
  x/bet/types/tx.pb.go
  x/house/types/authz.pb.go
  x/house/types/deposit.pb.go
  x/house/types/genesis.pb.go
  x/house/types/params.pb.go
  x/house/types/query.pb.go
  x/house/types/query.pb.gw.go
  x/house/types/ticket.pb.go
  x/house/types/tx.pb.go
  x/house/types/withdraw.pb.go
  x/market/types/genesis.pb.go
  x/market/types/market.pb.go
  x/market/types/odds.pb.go
  x/market/types/params.pb.go
  x/market/types/query.pb.go
  x/market/types/query.pb.gw.go
  x/market/types/stats.pb.go
  x/market/types/ticket.pb.go
  x/market/types/tx.pb.go
  x/mint/types/genesis.pb.go
  x/mint/types/minter.pb.go
  x/mint/types/params.pb.go
  x/mint/types/phase.pb.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
  x/orderbook/types/exposure.pb.go
  x/orderbook/types/genesis.pb.go
  x/orderbook/types/orderbook.pb.go
  x/orderbook/types/params.pb.go
  x/orderbook/types/participation.pb.go
  x/orderbook/types/query.pb.go
  x/orderbook/types/query.pb.gw.go
  x/orderbook/types/stats.pb.go
  x/ovm/types/genesis.pb.go
  x/ovm/types/key_vault.pb.go
  x/ovm/types/params.pb.go
  x/ovm/types/proposal.pb.go
  x/ovm/types/query.pb.go
  x/ovm/types/query.pb.gw.go
  x/ovm/types/stats.pb.go
  x/ovm/types/ticket.pb.go
  x/ovm/types/tx.pb.go
  x/ovm/types/vote.pb.go
Labels: C:x/bet, C:x/mint, C:x/market, C:x/ovm, T:build, C:x/orderbook

#204 Upgrade / IBC-Go to version v4.4.2
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/modules.go
  go.mod
  go.sum
Labels: C:app-wiring

#200 Order book events
  go.mod
  go.sum
  proto/sge/orderbook/orderbookevent.proto
  scripts/protocgen.sh
  utils/events.go
  x/bet/types/expected_keepers.go
  x/house/keeper/deposit.go
  x/house/keeper/withdrawal.go
  x/house/types/expected_keepers.go
  x/house/types/query.pb.go
  x/orderbook/keeper/bet_place.go
  x/orderbook/keeper/exposure_odds.go
  x/orderbook/types/events.go
  x/orderbook/types/order_book_event.go
  x/orderbook/types/orderbookevent.pb.go
Labels: C:x/bet, T:build, C:x/orderbook
