Repository sge-network/sge, pull requests merged in 2023-12, with the labels that each got.

#296 feat: update SDK to fork with expedited proposals
  app/app.go
  app/upgrades/v3/consts.go
  app/upgrades/v3/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring

#315 Feature/expedited proposals
  app/app.go
  app/upgrades/v3/consts.go
  app/upgrades/v3/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring

#312 Audit/ Rewards handler and codec fixs
  x/reward/client/cli/tx_campaign.go
  x/reward/handler.go
  x/reward/keeper/msg_server_campaign.go
  x/reward/module.go
  x/reward/types/campaign_authorizaton.go
  x/reward/types/codec.go
  x/reward/types/consts.go
Labels: C:CLI, C:app-wiring

#318 Update consts.go
  app/upgrades/v3/consts.go
Labels: C:app-wiring

#320 Feature/rewards Merge with Master
  app/app.go
  app/upgrades/v3/consts.go
  app/upgrades/v3/upgrades.go
  go.mod
  go.sum
  proto/sge/subaccount/params.proto
Labels: C:app-wiring

#323 Docs / Sub Account and Rewards
  docs/specs/Reward/01_Overview.md
  docs/specs/Reward/02_Concepts.md
  docs/specs/Reward/03_Accounts.md
  docs/specs/Reward/04_State.md
  docs/specs/Reward/05_State_Transitions.md
  docs/specs/Reward/06_Messages.md
  docs/specs/Reward/07_Events.md
  docs/specs/SubAccount/01_Overview.md
  docs/specs/SubAccount/02_Concepts.md
  docs/specs/SubAccount/03_State.md
  docs/specs/SubAccount/04_State_Transitions.md
  docs/specs/SubAccount/05_Messages.md
  docs/specs/SubAccount/06_Events.md
Labels: C:docs

#325 Feature / Upgrade Handler `v1.3.0`
  app/app.go
  app/upgrades/v4/consts.go
  app/upgrades/v4/upgrades.go
  proto/sge/subaccount/query.proto
  x/reward/keeper/msg_server_campaign.go
  x/reward/keeper/msg_server_reward.go
  x/reward/types/campaign.go
  x/reward/types/errors.go
  x/subaccount/client/cli/query.go
  x/subaccount/client/cli/query_params.go
  x/subaccount/client/cli/tx.go
  x/subaccount/keeper/query_params.go
  x/subaccount/keeper/query_server.go
  x/subaccount/keeper/query_server_test.go
  x/subaccount/types/query.pb.go
Labels: C:CLI, C:app-wiring

#328 Fix / Reward and Subaccount bugs
  x/reward/keeper/msg_server_campaign.go
  x/reward/keeper/msg_server_reward.go
  x/reward/types/campaign.go
  x/reward/types/errors.go
  x/subaccount/client/cli/tx.go
Labels: C:CLI

#333 Feature / Replace unlock period with unlock timestamp in reward events
  docs/specs/Reward/07_Events.md
  x/reward/keeper/distribution.go
  x/reward/keeper/msg_server_reward.go
  x/reward/types/events.go
  x/reward/types/messages_reward.go
Labels: C:docs

#335 Feature/ Referral Reward KYC
  app/app.go
  app/upgrades/v6/consts.go
  app/upgrades/v6/upgrades.go
  proto/sge/reward/ticket.proto
  x/reward/keeper/msg_server_reward_test.go
  x/reward/types/errors.go
  x/reward/types/reward_signup.go
  x/reward/types/reward_signup_referee.go
  x/reward/types/reward_signup_referrer.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
Labels: C:app-wiring

#334 Feature/ Reward KYC
  app/app.go
  app/upgrades/v5/consts.go
  app/upgrades/v5/upgrades.go
  proto/sge/reward/ticket.proto
  x/reward/keeper/msg_server_reward_test.go
  x/reward/types/errors.go
  x/reward/types/reward_signup.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
Labels: C:app-wiring

#336 Merge / Referrals with Master
  app/app.go
  app/upgrades/v5/consts.go
  app/upgrades/v5/upgrades.go
  docs/specs/Reward/07_Events.md
  go.mod
  go.sum
  x/reward/keeper/distribution.go
  x/reward/keeper/msg_server_reward.go
  x/reward/types/events.go
  x/reward/types/messages_reward.go
  x/reward/types/messages_reward_test.go
Labels: C:app-wiring
