Repository sge-network/sge, pull requests merged in 2023-04, with the labels that each got.

#131 Fix / DVM handler vote missing
  docs/_sidebar.md
  docs/specs/Bet/_sidebar.md
  docs/specs/DVM/02_Concepts.md
  docs/specs/DVM/03_State.md
  docs/specs/DVM/04_Messages.md
  docs/specs/DVM/_sidebar.md
  docs/specs/House/_sidebar.md
  docs/specs/Market/_sidebar.md
  docs/specs/Mint/_sidebar.md
  docs/specs/StrategicReserve/_sidebar.md
  docs/specs/_sidebar.md
  x/dvm/handler.go
  x/dvm/keeper/msg_server_pubkeys_proposal.go
  x/dvm/keeper/msg_server_vote.go
  x/dvm/keeper/proposal.go
  x/dvm/keeper/proposal_test.go
  x/dvm/keeper/ticket.go
  x/dvm/types/consts.go
  x/dvm/types/export_test.go
  x/dvm/types/genesis.go
  x/dvm/types/genesis_test.go
  x/dvm/types/key_vault.go
  x/dvm/types/proposal.go
  x/dvm/types/ticket.go
  x/dvm/types/ticket_jwt.go
  x/dvm/types/ticket_jwt_test.go
Labels: C:docs, C:x/dvm

#133 Fix/ Order book query wrong command
  x/strategicreserve/client/cli/query_orderbook.go
Labels: C:x/strategicreserve, C:CLI

#134 Docs/ Spec docs of the merged strategic reserve and orderbook
  docs/README.md
  docs/specs/DVM/_sidebar.md
  docs/specs/House/04_State_Transitions.md
  docs/specs/House/05_Messages.md
  docs/specs/House/_sidebar.md
  docs/specs/Market/_sidebar.md
  docs/specs/Mint/_sidebar.md
  docs/specs/StrategicReserve/02_Concepts.md
  docs/specs/StrategicReserve/03_State.md
  docs/specs/StrategicReserve/04_State_Transitions.md
  docs/specs/StrategicReserve/05_Messages.md
  docs/specs/StrategicReserve/_sidebar.md
Labels: C:docs

#140 chore: update makefile to publish and deploy proto on sgejs lib
  .github/workflows/makefile.yml
Labels: T:CI

#139 Feature/ Deposit and Withdrawal of House module KYC Validation
  app/keepers/keepers.go
  docs/specs/Bet/_sidebar.md
  proto/sge/bet/ticket.proto
  proto/sge/house/ticket.proto
  proto/sge/house/tx.proto
  proto/sge/type/kyc.proto
  types/kyc.go
  types/kyc.pb.go
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/types/ticket.pb.go
  x/bet/types/validation.go
  x/bet/types/validation_test.go
  x/house/client/cli/tx_deposit.go
  x/house/client/cli/tx_withdraw.go
  x/house/keeper/keeper.go
  x/house/keeper/msg_server_deposit.go
  x/house/keeper/msg_server_withdraw.go
  x/house/keeper/validation.go
  x/house/types/errors.go
  x/house/types/expected_keepers.go
  x/house/types/message_deposit.go
  x/house/types/message_withdraw.go
  x/house/types/ticket.go
  x/house/types/ticket.pb.go
  x/house/types/tx.pb.go
  x/ovm/module.go
  x/strategicreserve/types/exposure.pb.go
  x/strategicreserve/types/genesis.pb.go
  x/strategicreserve/types/params.pb.go
  x/strategicreserve/types/query.pb.go
Labels: C:x/bet, C:x/strategicreserve, C:CLI, C:app-wiring, C:docs, C:x/ovm

#143 Docs/ House KYC spec docs
  docs/specs/Bet/02_Concepts.md
  docs/specs/House/02_Concepts.md
  docs/specs/House/05_Messages.md
Labels: C:docs

#144 chore: fix workflows
  .github/workflows/makefile.yml
Labels: T:CI
