Repository sge-network/sge, pull requests merged in 2023-03, with the labels that each got.

#81 Fix / Panic in the end blocker logic
  x/bet/abci.go
  x/orderbook/abci.go
  x/orderbook/keeper/orderbook_settle.go
Labels: C:x/bet

#91 Update makefile.yml
  .github/workflows/makefile.yml
Labels: T:CI

#92 Update makefile.yml major
  .github/workflows/makefile.yml
Labels: T:CI

#93 Fix/ Negative coin in order book bet placement calculations
  proto/sge/orderbook/participation.proto
  x/bet/types/errors.go
  x/bet/types/odds_type.go
  x/bet/types/payout_test.go
Labels: C:x/bet

#95 workflow-fix
  .github/workflows/makefile.yml
Labels: T:CI

#96 Fix / KYC required by default
  proto/sge/bet/kyc.proto
  x/bet/keeper/keeper_test.go
  x/bet/types/kyc.pb.go
  x/bet/types/validation.go
  x/bet/types/validation_test.go
Labels: C:x/bet

#98 update read me
  README.md
Labels: C:docs

#99 cicd fix
  .github/workflows/makefile.yml
Labels: T:CI

#100 cicd-fix move codegen back
  .github/workflows/makefile.yml
Labels: T:CI

#101 Docs/ Testnet 2 spec doc update
  docs/specs/Bet/02_Concepts.md
  docs/specs/Bet/04_State.md
  docs/specs/Bet/05_State_Transitions.md
  docs/specs/Bet/06_Messages.md
  docs/specs/Bet/07_Events.md
  docs/specs/DVM/03_State.md
  docs/specs/DVM/04_Messages.md
  docs/specs/SportEvent/02_State.md
  docs/specs/SportEvent/03_Messages.md
  docs/specs/SportEvent/04_Events.md
  docs/specs/SportEvent/05_State_Transitions.md
Labels: C:docs

#102 Feature/orderbook house params
  proto/sge/bet/query.proto
  proto/sge/house/query.proto
  proto/sge/orderbook/query.proto
  x/bet/client/cli/query.go
  x/bet/client/cli/query_bet.go
  x/bet/client/cli/query_params.go
  x/bet/keeper/grpc_query_params.go
  x/bet/types/kyc.pb.go
  x/bet/types/query.pb.go
  x/bet/types/query.pb.gw.go
  x/dvm/client/cli/query.go
  x/dvm/client/cli/tx.go
  x/house/client/cli/query.go
  x/house/client/cli/query_params.go
  x/house/keeper/grpc_query_params.go
  x/house/types/query.pb.go
  x/house/types/query.pb.gw.go
  x/orderbook/client/cli/query.go
  x/orderbook/client/cli/query_params.go
  x/orderbook/keeper/grpc_query_params.go
  x/orderbook/types/query.pb.go
  x/orderbook/types/query.pb.gw.go
  x/sportevent/client/cli/query.go
  x/sportevent/client/cli/tx.go
  x/strategicreserve/client/cli/tx.go
Labels: C:x/bet, C:x/sportevent, C:x/strategicreserve, C:CLI, C:x/dvm

#104 Fix/ Deposit inactive sport-event prevent
  app/keepers/keepers.go
  app/modules.go
  x/bet/keeper/bet.go
  x/bet/keeper/bet_test.go
  x/bet/keeper/grpc_query_bet.go
  x/bet/keeper/keeper.go
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/place_bet.go
  x/bet/keeper/place_bet_test.go
  x/bet/keeper/settle_bet.go
  x/bet/keeper/settle_bet_test.go
  x/bet/module.go
  x/bet/types/expected_keepers.go
  x/orderbook/keeper/keeper.go
  x/orderbook/keeper/participation.go
  x/orderbook/types/errors.go
  x/orderbook/types/expected_keepers.go
  x/sportevent/genesis_test.go
  x/sportevent/keeper/keeper.go
  x/sportevent/keeper/keeper_test.go
  x/sportevent/keeper/msg_server_add_event.go
  x/sportevent/keeper/msg_server_resolve_event.go
  x/sportevent/keeper/sport_event_server_test.go
  x/sportevent/types/errors.go
  x/sportevent/types/expected_keepers.go
  x/strategicreserve/genesis_test.go
  x/strategicreserve/keeper/keeper_test.go
Labels: C:x/bet, C:x/sportevent, C:x/strategicreserve, C:app-wiring

#105 Fix/ Change aborted bet result to refunded
  proto/sge/bet/bet.proto
  x/bet/keeper/settle_bet.go
  x/bet/types/bet.pb.go
Labels: C:x/bet

#108 fork-pr-fix
  .github/workflows/makefile.yml
Labels: T:CI

#106 Feature/Validate Genesis
  x/dvm/types/genesis.go
  x/orderbook/types/genesis.go
Labels: C:x/dvm

#109 Fix / Remove 0.0.3 upgrade handler
  app/app.go
  app/upgrades/v003/constants.go
  app/upgrades/v003/upgrade.go
Labels: C:app-wiring

#110 Test/ Genesis Validation
  x/dvm/types/genesis_test.go
  x/house/types/genesis.go
  x/house/types/genesis_test.go
  x/orderbook/types/genesis.go
  x/orderbook/types/genesis_test.go
Labels: C:x/dvm

#111 Docs/ Spec docs bet status
  docs/specs/Bet/02_Concepts.md
  docs/specs/Bet/04_State.md
Labels: C:docs

#116 Minor changes to sport event module
  docs/specs/SportEvent/01_Overview.md
  docs/specs/SportEvent/02_State.md
  docs/specs/SportEvent/03_Messages.md
  proto/sge/sportevent/odds.proto
  proto/sge/sportevent/params.proto
  proto/sge/sportevent/query.proto
  proto/sge/sportevent/sport_event.proto
  proto/sge/sportevent/ticket.proto
  proto/sge/sportevent/tx.proto
  x/bet/keeper/settle_bet.go
  x/bet/types/expected_keepers.go
  x/sportevent/client/cli/query.go
  x/sportevent/client/cli/tx.go
  x/sportevent/keeper/grpc_query_sport_event.go
  x/sportevent/keeper/keeper.go
  x/sportevent/keeper/msg_server_add_event.go
  x/sportevent/keeper/msg_server_resolve_event.go
  x/sportevent/keeper/msg_server_update_event.go
  x/sportevent/keeper/params.go
  x/sportevent/keeper/stats.go
  x/sportevent/module.go
  x/sportevent/types/errors.go
  x/sportevent/types/events.go
  x/sportevent/types/expected_keepers.go
  x/sportevent/types/sport_event.go
Labels: C:x/bet, C:x/sportevent, C:CLI, C:app-wiring, C:docs

#124 Refactor/ Market Todos
  proto/sge/market/ticket.proto
  x/bet/keeper/settle_bet_test.go
  x/market/client/cli/tx.go
  x/market/client/cli/tx_market.go
  x/market/client/cli/tx_resolve_market.go
  x/market/keeper/export_test.go
  x/market/keeper/market.go
  x/market/keeper/market_server_test.go
  x/market/keeper/market_test.go
  x/market/keeper/msg_server_add_market.go
  x/market/keeper/msg_server_market.go
  x/market/keeper/msg_server_market_resolve.go
  x/market/keeper/msg_server_market_resolve_test.go
  x/market/keeper/msg_server_market_test.go
  x/market/keeper/msg_server_resolve_market.go
  x/market/keeper/msg_server_update_market.go
  x/market/keeper/stats.go
  x/market/module_simulation.go
  x/market/simulation/add_market.go
  x/market/simulation/resolve_market.go
  x/market/simulation/update_market.go
  x/market/types/errors.go
  x/market/types/market.go
  x/market/types/message_market.go
  x/market/types/message_market_resolve.go
  x/market/types/message_resolve_market.go
  x/market/types/message_update_market.go
  x/market/types/ticket.go
Labels: C:x/bet, C:CLI, C:x/market

#123 Refactor/ Bet module Todo
  app/sim_test.go
  proto/sge/bet/bet.proto
  proto/sge/bet/genesis.proto
  proto/sge/bet/query.proto
  proto/sge/bet/tx.proto
  x/bet/client/cli/query.go
  x/bet/client/cli/query_bet.go
  x/bet/client/cli/query_bet_test.go
  x/bet/client/cli/tx.go
  x/bet/genesis.go
  x/bet/genesis_test.go
  x/bet/keeper/bet.go
  x/bet/keeper/bet_test.go
  x/bet/keeper/grpc_query_bet.go
  x/bet/keeper/grpc_query_bet_test.go
  x/bet/keeper/msg_server_bet.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/place_bet.go
  x/bet/keeper/settle_bet.go
  x/bet/keeper/settle_bet_test.go
  x/bet/keeper/view.go
  x/bet/types/bet.go
  x/bet/types/bet.pb.go
  x/bet/types/bet_odds.pb.go
  x/bet/types/errors.go
  x/bet/types/genesis.go
  x/bet/types/genesis.pb.go
  x/bet/types/genesis_test.go
  x/bet/types/keys.go
  x/bet/types/kyc.pb.go
  x/bet/types/messages_bet.go
  x/bet/types/messages_bet_test.go
  x/bet/types/params.go
  x/bet/types/params.pb.go
  x/bet/types/place_bet_fields.pb.go
  x/bet/types/query.pb.go
  x/bet/types/query.pb.gw.go
  x/bet/types/tx.pb.go
Labels: C:x/bet, C:CLI, C:app-wiring

#121 chore: refactor market module
  go.mod
  go.sum
  proto/sge/market/market.proto
  proto/sge/market/odds.proto
  proto/sge/market/query.proto
  x/bet/keeper/settle_bet_test.go
  x/market/client/cli/query.go
  x/market/client/cli/query_market.go
  x/market/client/cli/tx.go
  x/market/client/cli/tx_market.go
  x/market/client/cli/tx_resolve_market.go
  x/market/genesis.go
  x/market/keeper/export_test.go
  x/market/keeper/market.go
  x/market/keeper/market_server_test.go
  x/market/keeper/market_test.go
  x/market/keeper/msg_server_add_market.go
  x/market/keeper/msg_server_market.go
  x/market/keeper/msg_server_market_resolve.go
  x/market/keeper/msg_server_market_resolve_test.go
  x/market/keeper/msg_server_market_test.go
  x/market/keeper/msg_server_resolve_market.go
  x/market/keeper/msg_server_update_market.go
  x/market/keeper/stats.go
  x/market/module_simulation.go
  x/market/simulation/add_market.go
  x/market/simulation/resolve_market.go
  x/market/simulation/update_market.go
  x/market/types/errors.go
  x/market/types/market.go
  x/market/types/message_market.go
  x/market/types/message_market_resolve.go
  x/market/types/message_resolve_market.go
  x/market/types/message_update_market.go
  x/market/types/params.go
  x/market/types/ticket.go
Labels: C:x/bet, C:CLI, C:x/market

#126 Docs/spec docs 03 24
  docs/specs/Bet/04_State.md
  docs/specs/Bet/05_State_Transitions.md
  docs/specs/Bet/06_Messages.md
  docs/specs/Market/02_State.md
  docs/specs/Market/03_Messages.md
  docs/specs/Market/04_Events.md
Labels: C:docs

#127 chore: refactor house module
  go.mod
  go.sum
  proto/sge/house/deposit.proto
  proto/sge/house/genesis.proto
  proto/sge/house/params.proto
  proto/sge/house/query.proto
  proto/sge/house/tx.proto
  proto/sge/house/withdraw.proto
  x/bet/types/events.go
  x/house/client/cli/query.go
  x/house/client/cli/query_deposit.go
  x/house/client/cli/query_withdrawal.go
  x/house/client/cli/tx.go
  x/house/client/cli/tx_deposit.go
  x/house/client/cli/tx_withdraw.go
  x/house/genesis.go
  x/house/keeper/deposit.go
  x/house/keeper/grpc_query_deposit.go
  x/house/keeper/grpc_query_withdrawal.go
  x/house/keeper/keeper.go
  x/house/keeper/msg_server_deposit.go
  x/house/keeper/msg_server_withdraw.go
  x/house/keeper/params.go
  x/house/keeper/validation.go
  x/house/keeper/view.go
  x/house/keeper/withdrawal.go
  x/house/types/deposit.go
  x/house/types/deposit.pb.go
  x/house/types/errors.go
  x/house/types/expected_keepers.go
  x/house/types/genesis.go
  x/house/types/genesis.pb.go
  x/house/types/genesis_test.go
  x/house/types/message_withdraw.go
  x/house/types/params.go
  x/house/types/params.pb.go
  x/house/types/query.pb.go
  x/house/types/query.pb.gw.go
  x/house/types/tx.pb.go
  x/house/types/withdraw.pb.go
  x/house/types/withdrawal.go
  x/market/types/market.pb.go
  x/market/types/odds.pb.go
  x/market/types/query.pb.go
Labels: C:x/bet, C:CLI, C:x/market

#120 Audit/ DVM Redesign for leader selection
  docs/specs/DVM/03_State.md
  docs/specs/DVM/04_Messages.md
  proto/sge/dvm/genesis.proto
  proto/sge/dvm/proposal.proto
  proto/sge/dvm/query.proto
  proto/sge/dvm/ticket.proto
  proto/sge/dvm/tx.proto
  utils/int32.go
  utils/str.go
  x/dvm/client/cli/query.go
  x/dvm/client/cli/query_active_proposals.go
  x/dvm/client/cli/query_active_proposals_test.go
  x/dvm/client/cli/query_finished_proposals.go
  x/dvm/client/cli/query_proposal.go
  x/dvm/client/cli/query_proposal_test.go
  x/dvm/client/cli/tx_pubkeys_proposal_test.go
  x/dvm/client/cli/tx_pubkeys_vote.go
  x/dvm/genesis.go
  x/dvm/keeper/grpc_query_pubkeys_proposal.go
  x/dvm/keeper/grpc_query_pubkeys_proposal_test.go
  x/dvm/keeper/key_vault.go
  x/dvm/keeper/key_vault_test.go
  x/dvm/keeper/msg_server_pubkeys_proposal.go
  x/dvm/keeper/msg_server_pubkeys_proposal_test.go
  x/dvm/keeper/msg_server_vote.go
  x/dvm/keeper/msg_server_vote_test.go
  x/dvm/keeper/proposal.go
  x/dvm/keeper/proposal_test.go
  x/dvm/keeper/view.go
  x/dvm/types/errors.go
  x/dvm/types/genesis.go
  x/dvm/types/genesis.pb.go
  x/dvm/types/genesis_test.go
  x/dvm/types/key_vault.go
  x/dvm/types/keys.go
  x/dvm/types/message_pubkeys_vote.go
  x/dvm/types/message_pubkeys_vote_test.go
  x/dvm/types/proposal.go
  x/dvm/types/proposal.pb.go
  x/dvm/types/query.pb.go
  x/dvm/types/query.pb.gw.go
  x/dvm/types/ticket.go
  x/dvm/types/ticket.pb.go
  x/dvm/types/ticket_jwt.go
  x/dvm/types/ticket_jwt_test.go
  x/dvm/types/tx.pb.go
Labels: C:CLI, C:docs, C:x/dvm
