Repository sge-network/sge, pull requests merged in 2023-11, with the labels that each got.

#278 Fix / Remove odds types other than decimal
  docs/specs/Bet/04_State.md
  docs/specs/Bet/05_State_Transitions.md
  docs/specs/Bet/06_Messages.md
  proto/sge/bet/bet.proto
  proto/sge/bet/ticket.proto
  x/bet/keeper/bet_test.go
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/settle.go
  x/bet/keeper/settle_test.go
  x/bet/keeper/wager.go
  x/bet/keeper/wager_test.go
  x/bet/simulation/decoder_test.go
  x/bet/types/bet.pb.go
  x/bet/types/errors.go
  x/bet/types/expected_keepers.go
  x/bet/types/messages_bet.go
  x/bet/types/messages_bet_test.go
  x/bet/types/odds_type.go
  x/bet/types/payout.go
  x/bet/types/payout_test.go
  x/bet/types/ticket.go
  x/bet/types/ticket.pb.go
  x/bet/types/ticket_test.go
  x/orderbook/keeper/bet_wager.go
  x/orderbook/keeper/bet_wager_test.go
  x/orderbook/types/errors.go
Labels: C:x/bet, C:docs, C:x/orderbook

#280 Test/ Fix unmarshallable params test of house and orderbook
  x/house/client/cli/query_params_test.go
  x/orderbook/client/cli/query_params_test.go
Labels: C:CLI, C:x/orderbook

#274 Adds Selected Odds in Bet Meta
  docs/specs/Bet/04_State.md
  docs/specs/Bet/05_State_Transitions.md
  docs/specs/Bet/06_Messages.md
  proto/sge/bet/bet.proto
  proto/sge/bet/ticket.proto
  proto/sge/house/params.proto
  x/bet/keeper/bet_test.go
  x/bet/keeper/keeper_test.go
  x/bet/keeper/msg_server_bet.go
  x/bet/keeper/msg_server_bet_test.go
  x/bet/keeper/settle.go
  x/bet/keeper/settle_test.go
  x/bet/keeper/wager.go
  x/bet/keeper/wager_test.go
  x/bet/simulation/decoder_test.go
  x/bet/types/bet.pb.go
  x/bet/types/errors.go
  x/bet/types/expected_keepers.go
  x/bet/types/messages_bet.go
  x/bet/types/messages_bet_test.go
  x/bet/types/odds_type.go
  x/bet/types/payout.go
  x/bet/types/payout_test.go
  x/bet/types/ticket.go
  x/bet/types/ticket.pb.go
  x/bet/types/ticket_test.go
  x/house/client/cli/query_params_test.go
  x/house/keeper/msg_server_withdraw.go
  x/house/keeper/params.go
  x/house/types/errors.go
  x/house/types/params.go
  x/house/types/params.pb.go
  x/orderbook/client/cli/query_params_test.go
  x/orderbook/keeper/bet_wager.go
  x/orderbook/keeper/bet_wager_test.go
  x/orderbook/types/errors.go
Labels: C:x/bet, C:CLI, C:docs, C:x/orderbook

#284 Upgrade/v1.1.1
  app/app.go
  app/upgrades/v2/consts.go
  app/upgrades/v2/upgrades.go
Labels: C:app-wiring

#285 Feature / Implement reward prefixes for query
  proto/sge/reward/query.proto
  proto/sge/reward/reward.proto
  x/reward/client/cli/query_reward.go
  x/reward/keeper/campaign.go
  x/reward/keeper/campaign_test.go
  x/reward/keeper/distribution.go
  x/reward/keeper/msg_server_campaign_test.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/msg_server_reward_test.go
  x/reward/keeper/query_reward.go
  x/reward/keeper/reward.go
  x/reward/keeper/view.go
  x/reward/simulation/campaign.go
  x/reward/types/campaign.go
  x/reward/types/key_reward.go
  x/reward/types/messages_reward.go
  x/reward/types/query.pb.go
  x/reward/types/query.pb.gw.go
  x/reward/types/reward.go
  x/reward/types/reward.pb.go
  x/reward/types/reward_affiliate.go
  x/reward/types/reward_noloss.go
  x/reward/types/reward_referral.go
  x/reward/types/reward_signup.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
  x/reward/types/ticket_test.go
Labels: C:CLI

#286 Feature/campaigntx
  proto/sge/reward/query.proto
  proto/sge/reward/reward.proto
  proto/sge/reward/ticket.proto
  proto/sge/reward/tx.proto
  x/reward/client/cli/query_reward.go
  x/reward/keeper/campaign.go
  x/reward/keeper/campaign_test.go
  x/reward/keeper/distribution.go
  x/reward/keeper/msg_server_campaign_test.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/msg_server_reward_test.go
  x/reward/keeper/query_reward.go
  x/reward/keeper/reward.go
  x/reward/keeper/view.go
  x/reward/simulation/campaign.go
  x/reward/types/campaign.go
  x/reward/types/key_reward.go
  x/reward/types/messages_reward.go
  x/reward/types/query.pb.go
  x/reward/types/query.pb.gw.go
  x/reward/types/reward.go
  x/reward/types/reward.pb.go
  x/reward/types/reward_affiliate.go
  x/reward/types/reward_noloss.go
  x/reward/types/reward_referral.go
  x/reward/types/reward_signup.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
  x/reward/types/ticket_test.go
  x/reward/types/tx.pb.go
Labels: C:CLI

#287 update code
  proto/sge/reward/campaign.proto
  proto/sge/reward/query.proto
  proto/sge/reward/reward.proto
  proto/sge/reward/ticket.proto
  proto/sge/reward/tx.proto
  proto/sge/subaccount/tx.proto
  x/reward/client/cli/query_reward.go
  x/reward/client/cli/tx_reward.go
  x/reward/keeper/campaign.go
  x/reward/keeper/distribution.go
  x/reward/keeper/msg_server_campaign.go
  x/reward/keeper/msg_server_campaign_test.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/query_reward.go
  x/reward/keeper/reward.go
  x/reward/keeper/view.go
  x/reward/types/campaign.go
  x/reward/types/campaign.pb.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
  x/reward/types/key_reward.go
  x/reward/types/messages_reward.go
  x/reward/types/query.pb.go
  x/reward/types/reward.go
  x/reward/types/reward.pb.go
  x/reward/types/reward_affiliate.go
  x/reward/types/reward_referral.go
  x/reward/types/reward_signup.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
  x/reward/types/ticket_test.go
  x/reward/types/tx.pb.go
  x/subaccount/types/tx.pb.go
Labels: C:CLI

#291 Audit/ Subaccount Fixes and cleanup
  x/subaccount/handler.go
  x/subaccount/keeper/balance.go
  x/subaccount/module.go
  x/subaccount/simulation/decoder.go
  x/subaccount/simulation/decoder_test.go
  x/subaccount/simulation/errors.go
  x/subaccount/simulation/genesis.go
  x/subaccount/simulation/genesis_test.go
  x/subaccount/simulation/simap.go
  x/subaccount/types/errors.go
  x/subaccount/types/keys.go
Labels: C:app-wiring

#294 Fix / Upgrade handler for max withdraw count
  app/upgrades/v2/upgrades.go
Labels: C:app-wiring

#297 Lint / GoSec fixes on Subaccount and reward
  x/reward/client/cli/tx.go
  x/reward/keeper/distribution.go
  x/reward/keeper/msg_server_campaign.go
  x/reward/keeper/msg_server_reward.go
  x/reward/simulation/campaign.go
  x/reward/types/params.go
  x/subaccount/client/cli/tx.go
  x/subaccount/keeper/subaccount.go
Labels: C:CLI

#304 Feature / Deposit amount fee message event
  x/house/keeper/deposit.go
  x/house/keeper/msg_server_deposit.go
  x/house/types/events.go
  x/house/types/message_deposit.go
  x/orderbook/keeper/bet_wager_test.go
  x/subaccount/keeper/msg_server_house.go
  x/subaccount/types/events.go
  x/subaccount/types/expected_keepers.go
  x/subaccount/types/messages_house.go
Labels: C:x/orderbook

#306 Feature / Deposit message fee amount
  x/house/keeper/deposit.go
  x/house/keeper/msg_server_deposit.go
  x/house/types/events.go
  x/house/types/message_deposit.go
  x/orderbook/keeper/bet_wager_test.go
Labels: C:x/orderbook

#308 Refactor / Move sub account deduction props to ticket
  proto/sge/house/params.proto
  proto/sge/reward/genesis.proto
  proto/sge/subaccount/params.proto
  proto/sge/subaccount/ticket.proto
  proto/sge/subaccount/tx.proto
  x/orderbook/keeper/bet_settle.go
  x/orderbook/types/expected_keepers.go
  x/orderbook/types/hooks.go
  x/subaccount/client/cli/tx.go
  x/subaccount/keeper/hooks.go
  x/subaccount/keeper/msg_server_bet.go
  x/subaccount/keeper/msg_server_bet_test.go
  x/subaccount/keeper/msg_server_house.go
  x/subaccount/keeper/msg_server_house_test.go
  x/subaccount/keeper/params.go
  x/subaccount/types/errors.go
  x/subaccount/types/messages_bet.go
  x/subaccount/types/params.go
  x/subaccount/types/params.pb.go
  x/subaccount/types/ticket.go
  x/subaccount/types/ticket.pb.go
  x/subaccount/types/tx.pb.go
Labels: C:CLI, C:x/orderbook
