Repository sge-network/sge, pull requests merged in 2024-03, with the labels that each got.

#353 Refactor / Orderbook endblocker loop
  x/orderbook/keeper/orderbook_settle.go
  x/orderbook/keeper/stats.go
Labels: C:x/orderbook

#359 Docs / Specdocs Readme Dead links
  docs/specs/Reward/_sidebar.md
  docs/specs/SubAccount/_sidebar.md
Labels: C:docs

#314 Query Settled participations
  go.mod
  go.sum
  proto/sge/orderbook/participation.proto
  proto/sge/orderbook/query.proto
  proto/sge/reward/authz.proto
  x/orderbook/keeper/grpc_query_participation.go
  x/orderbook/types/keys.go
  x/orderbook/types/participation.pb.go
  x/orderbook/types/query.pb.go
  x/orderbook/types/query.pb.gw.go
Labels: C:x/orderbook

#365 Feature / Promoter
  proto/sge/reward/campaign.proto
  proto/sge/reward/genesis.proto
  proto/sge/reward/promoter.proto
  proto/sge/reward/query.proto
  proto/sge/reward/ticket.proto
  proto/sge/reward/tx.proto
  x/reward/client/cli/tx.go
  x/reward/client/cli/tx_promoter.go
  x/reward/genesis.go
  x/reward/genesis_test.go
  x/reward/keeper/campaign.go
  x/reward/keeper/msg_server_campaign.go
  x/reward/keeper/msg_server_promoter.go
  x/reward/keeper/msg_server_promoter_test.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/msg_server_reward_test.go
  x/reward/keeper/promoter.go
  x/reward/keeper/query_reward.go
  x/reward/keeper/reward.go
  x/reward/keeper/view.go
  x/reward/types/campaign.go
  x/reward/types/campaign.pb.go
  x/reward/types/errors.go
  x/reward/types/events.go
  x/reward/types/expected_keepers.go
  x/reward/types/genesis.pb.go
  x/reward/types/key_promoter.go
  x/reward/types/key_reward.go
  x/reward/types/messages_promoter.go
  x/reward/types/messages_promoter_test.go
  x/reward/types/promoter.pb.go
  x/reward/types/query.pb.go
  x/reward/types/query.pb.gw.go
  x/reward/types/reward_signup_affiliator.go
  x/reward/types/reward_signup_referrer.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
  x/reward/types/ticket_test.go
  x/reward/types/tx.pb.go
Labels: C:CLI

#362 Main market ticket identifier
  proto/sge/bet/bet.proto
  x/bet/types/bet.pb.go
Labels: C:x/bet

#368 Feature / Bet Bonus Reward
  proto/sge/reward/campaign.proto
  proto/sge/reward/genesis.proto
  proto/sge/reward/promoter.proto
  proto/sge/reward/query.proto
  proto/sge/reward/ticket.proto
  proto/sge/reward/tx.proto
  x/reward/client/cli/tx.go
  x/reward/client/cli/tx_promoter.go
  x/reward/genesis.go
  x/reward/genesis_test.go
  x/reward/keeper/campaign.go
  x/reward/keeper/msg_server_campaign.go
  x/reward/keeper/msg_server_promoter.go
  x/reward/keeper/msg_server_promoter_test.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/msg_server_reward_test.go
  x/reward/keeper/promoter.go
  x/reward/keeper/query_reward.go
  x/reward/keeper/reward.go
  x/reward/keeper/view.go
  x/reward/types/campaign.go
  x/reward/types/campaign.pb.go
  x/reward/types/errors.go
  x/reward/types/events.go
  x/reward/types/expected_keepers.go
  x/reward/types/genesis.pb.go
  x/reward/types/key_promoter.go
  x/reward/types/key_reward.go
  x/reward/types/messages_promoter.go
  x/reward/types/messages_promoter_test.go
  x/reward/types/promoter.pb.go
  x/reward/types/query.pb.go
  x/reward/types/query.pb.gw.go
  x/reward/types/reward_bet_bonus.go
  x/reward/types/reward_signup_affiliator.go
  x/reward/types/reward_signup_referrer.go
  x/reward/types/ticket.go
  x/reward/types/ticket.pb.go
  x/reward/types/ticket_test.go
  x/reward/types/tx.pb.go
Labels: C:CLI

#371 Fix / Subaccount topup and account summary query
  app/app.go
  app/upgrades/v7/consts.go
  app/upgrades/v7/upgrades.go
  proto/sge/orderbook/query.proto
  proto/sge/subaccount/balance.proto
  proto/sge/subaccount/query.proto
  x/orderbook/keeper/grpc_query_participation.go
  x/orderbook/types/participation.pb.go
  x/orderbook/types/query.pb.go
  x/orderbook/types/query.pb.gw.go
  x/reward/keeper/campaign.go
  x/reward/keeper/distribution.go
  x/reward/keeper/keeper.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/msg_server_reward_test.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
  x/reward/types/reward.go
  x/reward/types/reward_signup.go
  x/reward/types/reward_signup_affiliatee.go
  x/reward/types/reward_signup_affiliator.go
  x/reward/types/reward_signup_referee.go
  x/reward/types/reward_signup_referrer.go
  x/subaccount/genesis.go
  x/subaccount/keeper/balance.go
  x/subaccount/keeper/balance_test.go
  x/subaccount/keeper/hooks.go
  x/subaccount/keeper/msg_server_balance.go
  x/subaccount/keeper/msg_server_balance_test.go
  x/subaccount/keeper/msg_server_bet.go
  x/subaccount/keeper/msg_server_house.go
  x/subaccount/keeper/msg_server_subaccount.go
  x/subaccount/keeper/msg_server_subaccount_test.go
  x/subaccount/keeper/query_server.go
  x/subaccount/keeper/subaccount.go
  x/subaccount/keeper/subaccount_test.go
  x/subaccount/simulation/decoder.go
  x/subaccount/simulation/decoder_test.go
  x/subaccount/types/accsummary.go
  x/subaccount/types/balance.pb.go
  x/subaccount/types/errors.go
  x/subaccount/types/events.go
  x/subaccount/types/keys.go
  x/subaccount/types/messages_balance.go
  x/subaccount/types/messages_house.go
  x/subaccount/types/messages_subaccount.go
  x/subaccount/types/query.pb.go
Labels: C:app-wiring, C:x/orderbook

#372 Fix / Missing locked balances
  app/app.go
  app/upgrades/v7/consts.go
  app/upgrades/v7/upgrades.go
  proto/sge/orderbook/query.proto
  proto/sge/subaccount/balance.proto
  proto/sge/subaccount/query.proto
  x/orderbook/keeper/grpc_query_participation.go
  x/orderbook/types/participation.pb.go
  x/orderbook/types/query.pb.go
  x/orderbook/types/query.pb.gw.go
  x/reward/keeper/campaign.go
  x/reward/keeper/distribution.go
  x/reward/keeper/keeper.go
  x/reward/keeper/msg_server_reward.go
  x/reward/keeper/msg_server_reward_test.go
  x/reward/types/errors.go
  x/reward/types/expected_keepers.go
  x/reward/types/reward.go
  x/reward/types/reward_signup.go
  x/reward/types/reward_signup_affiliatee.go
  x/reward/types/reward_signup_affiliator.go
  x/reward/types/reward_signup_referee.go
  x/reward/types/reward_signup_referrer.go
  x/subaccount/genesis.go
  x/subaccount/keeper/balance.go
  x/subaccount/keeper/balance_test.go
  x/subaccount/keeper/hooks.go
  x/subaccount/keeper/msg_server_balance.go
  x/subaccount/keeper/msg_server_balance_test.go
  x/subaccount/keeper/msg_server_bet.go
  x/subaccount/keeper/msg_server_house.go
  x/subaccount/keeper/msg_server_subaccount.go
  x/subaccount/keeper/msg_server_subaccount_test.go
  x/subaccount/keeper/query_server.go
  x/subaccount/keeper/subaccount.go
  x/subaccount/keeper/subaccount_test.go
  x/subaccount/simulation/decoder.go
  x/subaccount/simulation/decoder_test.go
  x/subaccount/types/accsummary.go
  x/subaccount/types/balance.pb.go
  x/subaccount/types/errors.go
  x/subaccount/types/events.go
  x/subaccount/types/keys.go
  x/subaccount/types/messages_balance.go
  x/subaccount/types/messages_house.go
  x/subaccount/types/messages_subaccount.go
  x/subaccount/types/query.pb.go
Labels: C:app-wiring, C:x/orderbook
