Repository sge-network/sge, pull requests merged in 2024-06, with the labels that each got.

#412 Fix / Workflow path of proto for sgejs
  .github/workflows/makefile.yml
Labels: T:CI

#394 Test/ End to End
  .github/release.yml
  .github/workflows/proto.yml
  .github/workflows/test.yml
  tests/e2e/bet/cli_test.go
  tests/e2e/bet/grpc.go
  tests/e2e/bet/suite.go
  tests/e2e/house/cli_test.go
  tests/e2e/house/grpc.go
  tests/e2e/house/suite.go
  tests/e2e/market/cli_test.go
  tests/e2e/market/grpc.go
  tests/e2e/market/suite.go
  tests/e2e/reward/cli_test.go
  tests/e2e/reward/grpc.go
  tests/e2e/reward/suite.go
  tests/e2e/sdk/account.go
  tests/e2e/sdk/auth.go
  tests/e2e/sdk/balance.go
  tests/e2e/sdk/consts.go
  testutil/network/network.go
  testutil/simapp/test_helpers.go
  x/mint/client/cli/query_minter_test.go
Labels: C:CLI, C:x/mint, T:CI

#413 Update proto files pipeline
  .github/workflows/makefile.yml
Labels: T:CI

#415 Fix / Tendermint module registery for ibc7 priority
  app/modules.go
Labels: C:app-wiring

#414 Update proto pipeline
  .github/workflows/makefile.yml
Labels: T:CI

#419 Fix / CLI query promoter inclusion
  x/reward/client/cli/query_reward.go
Labels: C:CLI
